---
import Layout from "$layouts/Layout.astro";
import { TMP_FOLDER } from "$lib/constants";
import DownloadButton from "./_components/DownloadButton.svelte";
import type { RecordModel } from "pocketbase";
import { readFileSync, existsSync } from "fs";
import EpisodeList from "./_components/EpisodeList.svelte";

const { series_id, season_id } = Astro.params;
if (!series_id) {
	return Astro.redirect("/series");
}

let series: RecordModel | null = null;
let seasons: RecordModel[] = [];
let episodes: RecordModel[] | null = null;
let error: string | null = null;

try {
	series = await Astro.locals.pb
		.collection("series")
		.getFirstListItem(`id = "${series_id}"`);
	if (!series) {
		return Astro.redirect("/series");
	}
	seasons = await Astro.locals.pb.collection("seasons").getFullList({
		filter: `series = "${series_id}"`,
		sort: "+season_index",
	});
	if (!seasons.length) {
		return Astro.redirect(`/series/${series_id}`);
	}

	episodes = await Astro.locals.pb.collection("episodes").getFullList({
		filter: `season = "${season_id}"`,
		sort: "+episode_index",
	});
} catch (error) {
	Astro.redirect("/series");
}
---

<Layout title="Welcome to Astro.">
	<div class="w-full relative flex flex-col">
		<img src="" alt="" />
		<div class="w-full">
			<div class="container w-full mx-auto py-3 px-3">
				<h1 class="text-4xl font-bold">
					{series?.name}
				</h1>
			</div>
		</div>
	</div>
	<div
		class="flex-grow container mx-auto h-full w-full flex flex-col gap-2"
		transition:animate="none"
	>
		<div class="grid md:grid-cols-[300px,1fr]">
			<div
				class="flex flex-col overflow-y-auto overflow-x-hidden"
				transition:persist
			>
				{
					seasons?.map(({ id, name }) => (
						<a
							href={`/series/${series_id}/${id}`}
							class="px-4 py-2 bg-neutral-700/0 hover:bg-neutral-700/5 opacity-90 hover:opacity-100 shadow-sm hover:shadow-md transition-all duration-75"
						>
							<h3 class="text-lg font-semibold">{name}</h3>
						</a>
					))
				}
			</div>
			<div class="flex flex-col">
				<div class="flex gap-2 items-center pb-2">
					<h3 class="flex-grow text-2xl">
						{
							season_id
								? seasons.find((s) => s.id === season_id)?.name
								: "All episodes"
						}
					</h3>
					{
						episodes?.some((e) => !e.downloaded) && (
							<button
								class="h-full px-2 py-1 rounded border border-neutral-800"
								type="button"
							>
								Download all episodes
							</button>
						)
					}
				</div>
				<EpisodeList client:load {episodes} />
			</div>
		</div>
	</div>
</Layout>
