---
import Layout from "$layouts/Layout.astro";
import type { RecordModel } from "pocketbase";

const { series_id } = Astro.params;
if (!series_id) {
	return Astro.redirect("/series");
}

let series: RecordModel | null = null;
let seasons: RecordModel[] = [];
let error: string | null = null;

try {
	series = await Astro.locals.pb
		.collection("series")
		.getFirstListItem(`id = "${series_id}"`);
	if (!series) {
		return Astro.redirect("/series");
	}
	seasons = await Astro.locals.pb.collection("seasons").getFullList({
		filter: `series = "${series_id}"`,
		sort: "+season_index",
	});
	if (!seasons.length) {
		error = "No seasons found.";
	} else {
		return Astro.redirect(`/series/${series_id}/${seasons[0].id}`);
	}
} catch (error) {
	Astro.redirect("/series");
}
---

<Layout title="Welcome to Astro.">
	<div class="flex flex-col gap-2">
		<h1 class="text-4xl font-bold">
			{series?.name}
		</h1>
		<div class="grid md:grid-cols-[300px,1fr]">
			<div class="flex flex-col">
				{
					seasons?.map(({ id, name }) => (
						<a
							href={`/series/${series_id}/${id}`}
							class="p-4 border border-gray-200 shadow-sm hover:shadow-md"
						>
							<h3 class="text-lg font-semibold">{name}</h3>
						</a>
					))
				}
			</div>
		</div>
	</div>
</Layout>
