---
import Nav from "$components/Nav.svelte";
interface Props {
	title: string;
}

const { title } = Astro.props;
const hostname = Astro.url.hostname;
const pathname = Astro.url.pathname;
const profile = Astro.locals.profile?.name;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-950 text-slate-50">
		<Nav client:only="svelte" {hostname} {pathname} {profile} />
		<div class="w-full mx-auto flex flex-col gap-2">
			<slot />
		</div>
	</body>
</html>
