---
import Nav from "$components/Nav.svelte";
import FullscreenListener from "$components/listeners/FullscreenListener.svelte";
import WindowScrollYListener from "$components/listeners/WindowScrollYListener.svelte";
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
	showNav?: boolean;
	fullscreenPersist?: boolean;
}

const { title, showNav, fullscreenPersist } = Astro.props;
const hostname = Astro.url.hostname;
const pathname = Astro.url.pathname;
const profile = Astro.locals.profile?.name;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions fallback="swap" />
	</head>
	<body class="bg-zinc-950 text-slate-50 flex flex-col">
		<FullscreenListener {fullscreenPersist} client:load />
		<WindowScrollYListener />
		<Nav client:load {showNav} {hostname} {pathname} {profile} />
		<main class="w-full h-full flex flex-col">
			<slot />
		</main>
	</body>
</html>
